/* Font family poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* tailwind dirrectives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* common styles */
body {
  font-family: "Poppins", sans-serif;
}
#nav-menu .active {
  border-bottom: 1px solid #d91d57;
  background-color: white;
  color: #d91d57;
}
.swiper-button-prev::after {
  color: white;

  margin-left: 20px;
}
.swiper-button-next::after {
  color: white;
  margin-right: 20px;
}
